.canvasContainer {

  width: 100vw;
  display: flex;
  justify-content: center;

  .canvasButtons {

    margin-left: 20px;

    button {
      height: 30px;
      display: block;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .canvas {
    height: 500px;
    width: 500px;
    margin-left: 20px;
    display: flex;
  }
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1100px;
  border: 5px solid black;
  img {
    margin: 20px;
  }
}
